doctype html
html
  head
    title= title
    script(type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js")
    link(href='//fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css')
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/custom.css?v34234")
  body
  
    block content
